# some useful functions in python

1) round function - this function round the input value to the nearest integer.

In [1]:
print(round(4.556))

5

In [2]:
print(round(4.553))

5

In [3]:
print(round(4.556789,2))   # here 2 indicates the result should be the two decimal places after the decimal

4.56

In [4]:
print(round(4.553789,2))

4.55

In [5]:
print(round(4.556389,3))

4.556

2) divmod(x,y) - the output will be the quotient and remainder in a tuple.

In [8]:
G = divmod(34,9)           # (3,7) is tuple.

In [9]:
print(G)

(3, 7)

In [10]:
type(G)

tuple

In [11]:
G[0]         # [0] gives the first indexing or position of elements in this particular collection

3

In [12]:
G[1]

7

In [14]:
34//9         # divmod can also be calculate by this way

3

In [15]:
34%9           # divmod can also be calculated by this way

7

3) isinstance - it returns true , if the first argument ia an instance of that class. Multiple classes can also be checked at once.   
     isinstance is used for checking the type of datatype of given input.

In [1]:
r = isinstance(3,int)     # is 3 int ?

In [2]:
print(r)

True

In [3]:
type(r)

bool

In [17]:
isinstance(3.0,int)

False

In [18]:
isinstance(3,float)

False

In [19]:
isinstance(3.0,float)

True

In [20]:
isinstance(3.4,(int,float))       # is 3.4 int or float ?

True

In [22]:
isinstance(3+2j,(int,float))

False

In [26]:
isinstance(3+2j,(int,float,str,complex))

True

In [5]:
isinstance('abc',str)

True

In [6]:
isinstance('12',str)

True

In [7]:
isinstance(12,int)

True

In [8]:
isinstance("12",str)

True

4) pow(x,y,z) - x raise to power y and remainder by z.  
    or pow(x,y,z) = (x^y) % Z   
      pow(x,y) = x^y

In [27]:
pow(2,4)

16

In [28]:
2**4

16

In [29]:
pow(2,4,7)                             # (2^4)%7

2

5) input() a - input("enter something")...... the returns always gives string datatype

In [10]:
y = input("enter a number")

enter a number23

In [11]:
type(y)     # here y always returns str whatever is enter

str

In [15]:
y = input("Enter a number :")

Enter a number :42

In [33]:
type(y)      # '''42 is here string type because whatever you enter in input received as character...
                   ...means here 4 and 2 are character not the integer'''

str

In [34]:
y = int(y)      # way to convert string into integer

In [35]:
type(y)

int

In [36]:
print(y-22)

20

In [7]:
a = float(input("enter a real number"))     # here we direct convert the string into float by adding float before input

enter a real number3

In [6]:
type(a)

float

In [12]:
print(a)

3.0

In [8]:
b = float(input("enter a real number ;"))        # here abc can't be converted into float that's why error occured

enter a real number ;abc

ValueError: could not convert string to float: 'abc'

In [9]:
c = input(" enter student name :")

 enter student name :sachin

In [10]:
type(c)

str

In [11]:
%whos

Variable   Type     Data/Info
-----------------------------
a          float    3.0
c          str      sachin
z          float    12.4

In [13]:
print(c)

sachin

In [18]:
pow?        # how to know function if we forget.....just type function syntax and ?.....or just type help(function syntax)

SyntaxError: invalid syntax (Temp/ipykernel_7600/3915765744.py, line 1)

In [20]:
input?     # how to know function if we forget.....just type function syntax and ?.....or just type help(function syntax)

SyntaxError: invalid syntax (Temp/ipykernel_7600/1542782457.py, line 1)

# some important terms in python

1) Literals - literals are constant in python i.e, the value associated with the variables is called literals.

In [22]:
a = "hello world"   # here hello world is called literals

In [23]:
a = 3.14       # 3.14 is called literals

# string in python

2) Strings - strings are sequence of characters enclosed within single quotes (' ') , double quotes (" ") or triple quotes (''' ''' , """ """).   
    single and double quotes are used for single line string.   
         triple quotes are used for multiple line string.

In [24]:
str1 = 'this is my first string'

In [26]:
print(str1)

this is my first string

In [27]:
str1

'this is my first string'

In [28]:
str2 = "this is my second string"

In [29]:
str2

'this is my second string'

In [30]:
str3 = '''this is my third
string for writing 
multiple string'''

In [31]:
str3

'this is my third\nstring for writing \nmultiple string'

In [32]:
str4 = """

  this is my also 
  writing for multiple 
  string by using 
  triple qoutes"""

In [33]:
str4

'\n\n  this is my also \n  writing for multiple \n  string by using \n  triple qoutes'

In [34]:
%whos

Variable   Type     Data/Info
-----------------------------
a          float    3.14
c          str      sachin
str1       str      this is my first string
str2       str      this is my second string
str3       str      this is my third\nstring <...>writing \nmultiple string
str4       str      \n\n  this is my also \n <...>y using \n  triple qoutes
z          float    12.4

Extracting individual characters from string

In [2]:
my_string = "My name is john"

In [36]:
my_string[0]         # 0 for 1st character

'M'

In [37]:
my_string[1]

'y'

In [38]:
my_string[2]

' '

In [39]:
my_string[-1]        # -1 for last character

'n'

In [40]:
my_string[-2]         # -2 for second last character

'h'

In [3]:
my_string[5:14]         # if we want upto 'h' then write 14 because last value is not inclusive in python

'me is joh'

In [4]:
my_string[6:11]

'e is '

some string functions

In [5]:
len(my_string)     # finding length of string

15

In [9]:
my_string.lower()    # converting string to lower case by adding ".lower()"

'my name is john'

In [7]:
my_string.upper()   # converting string to upper case by adding ".upper()"

'MY NAME IS JOHN'

In [10]:
my_string

'My name is john'

In [11]:
my_string.replace('y','a')     # ".replace()" is used for relacing any character in string

'Ma name is john'

In [12]:
my_string.replace('n','p')

'My pame is johp'

In [13]:
new_string = "hello world hello"

In [14]:
new_string.count("hello")          # finding no. of occurrences of substring / character in string

2

In [15]:
new_string.count("l")

5

In [16]:
s1 = "i love you very much!!!"

In [17]:
s1.find("you")             # find the index of substring of 1st character of given substring

7

In [18]:
s1.find("much")

16

In [19]:
s1.find("ery")     # find the index of any character in string

12

In [20]:
s1.find("uch")

17

In [21]:
s1.find("v")

4

In [22]:
s1.find('e')

5

In [30]:
fruit = 'i like apple,mango,banana. wauu!! i like too'

In [31]:
fruit.split(',')                      # ".split" used for splitting a string by giving command

['i like apple', 'mango', 'banana. wauu!! i like too']

In [32]:
fruit.split('.')

['i like apple,mango,banana', ' wauu!! i like too']

In [33]:
fruit.split('!!')

['i like apple,mango,banana. wauu', ' i like too']

In [37]:
fruit.split('e')

['i lik', ' appl', ',mango,banana. wauu!! i lik', ' too']

In [38]:
fruit.split('a')

['i like ', 'pple,m', 'ngo,b', 'n', 'n', '. w', 'uu!! i like too']

In [35]:
hobby = " i like to play cricket. i also like to play chess.i would like read newspaper."

In [36]:
hobby.split('.')

[' i like to play cricket',
 ' i also like to play chess',
 'i would like read newspaper',
 '']