# Tuple in Python

Tuple is an ordered collection of elements enclosed within(). It stored different types of elements.
Tuples are immutable ( means not change in given input inside the tuple).

In [10]:
tup1=(1,3.4,"a",True,4-2j)
tup1

(1, 3.4, 'a', True, (4-2j))

In [11]:
type(tup1)

tuple

In [15]:
tup1[0]          # Extracting individual elements from tuple

1

In [18]:
tup1[-1]

(4-2j)

In [20]:
tup1[1:3]

(3.4, 'a')

In [23]:
tup1[0:2]

(1, 3.4)

In [29]:
len(tup1)

5

In [31]:
tup2 =(3,"b",4)

In [32]:
tup1+tup2      # merging two tuple function or concatenating Tuple

(1, 3.4, 'a', True, (4-2j), 3, 'b', 4)

In [34]:
tup1,tup2

((1, 3.4, 'a', True, (4-2j)), (3, 'b', 4))

In [39]:
tup2+tup1

(3, 'b', 4, 1, 3.4, 'a', True, (4-2j))

In [46]:
tupA = ('sparta',300)

In [47]:
tupA*3                                     # Repeating of tuple elements

('sparta', 300, 'sparta', 300, 'sparta', 300)

In [48]:
tupA*3 + tup2

('sparta', 300, 'sparta', 300, 'sparta', 300, 3, 'b', 4)

In [51]:
tupB = (3,4,5,6)

In [53]:
min(tupB)           # finding minimum value

3

In [54]:
max(tupB)           # finding maximum value

6

# List in Python

List is an ordered collection of elements enclosed within []. 
Lists  are mutable. It allows the duplicates value.

In [5]:
lis1 = [2,3.14,'a',False]
lis1

[2, 3.14, 'a', False]

In [58]:
type(lis1)

list

In [59]:
lis1[2]

'a'

In [7]:
lis1[-1]

False

In [60]:
lis1[1:4]

[3.14, 'a', False]

In [6]:
lis1[::-1]      # Reversing the order

[False, 'a', 3.14, 2]

 Modifying the element in List (because lists are mutable.)

In [33]:
lis2 = [1,3,'a',6,'b']

In [34]:
lis2[0] = 100   # Relacing the 0th index elemnt by 100.
lis2

[100, 3, 'a', 6, 'b']

In [35]:
lis2.pop()      # Popping the last element (means to remove the last elemet)
lis2

[100, 3, 'a', 6]

In [36]:
lis2.append(-45.23)     # Adding new element in the last
lis2

[100, 3, 'a', 6, -45.23]

In [41]:
l3 = [2,7.3,40,'patna',55,'kaler']           # Reversing the order of element.
l3.reverse()
l3

['kaler', 55, 'patna', 40, 7.3, 2]

In [42]:
l4 = [3.2,40,50,'patna',60]
l4.insert(1,'kaler')                         # Inserting new element at the specified index
l4

[3.2, 'kaler', 40, 50, 'patna', 60]

In [43]:
l5 = ['banana', 'papaya','orange','apple','mango']       # Sorting the element
l5.sort()
l5

['apple', 'banana', 'mango', 'orange', 'papaya']

In [44]:
l6 = [30,50,40,10,60,20]
l6.sort()
l6

[10, 20, 30, 40, 50, 60]

In [46]:
l7 = ['g','b','d','a','s']
l7.sort()
l7

['a', 'b', 'd', 'g', 's']

In [48]:
ls1= [2,'d',3.4]                 #concatenating Lists
ls2= ['a',1,-3.2]
ls1+ls2

[2, 'd', 3.4, 'a', 1, -3.2]

In [49]:
ls2+ls1

['a', 1, -3.2, 2, 'd', 3.4]

In [51]:
lt= [1,2,3]                    # Repeating the elements
lt*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [8]:
L = ['name',3,8.3,'b']
L

['name', 3, 8.3, 'b']

In [9]:
del L[2]
L

['name', 3, 'b']

In [11]:
L1 = [7,2,9.3,"how",6,"are","you"]
L1

[7, 2, 9.3, 'how', 6, 'are', 'you']

In [14]:
L2 = L1

In [15]:
L2

[7, 2, 9.3, 'how', 6, 'are', 'you']

In [16]:
L2[1] = "one"

In [17]:
L2

[7, 'one', 9.3, 'how', 6, 'are', 'you']

In [18]:
L1

[7, 'one', 9.3, 'how', 6, 'are', 'you']

In [19]:
L3 = [1,10,3.4,"my",0,"panda"]
L3

[1, 10, 3.4, 'my', 0, 'panda']

In [20]:
L4 = L3.copy()                # Here use "copy"function
L4

[1, 10, 3.4, 'my', 0, 'panda']

In [21]:
L4[2]="three point four"
L4

[1, 10, 'three point four', 'my', 0, 'panda']

In [23]:
L3                      # Here, elemnts of L3 does n't change by chnaging the elememt of L4 due to "copy"function.

[1, 10, 3.4, 'my', 0, 'panda']

In [5]:
L1= [x for x in range(10)]

In [6]:
L1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
Lsq = [x**2 for x in range(10)]

In [8]:
Lsq

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
LsqWithStepSize = [x**2 for x in range(2,15,2)]

In [10]:
LsqWithStepSize

[4, 16, 36, 64, 100, 144, 196]

# Dictionary in Python

Dictionary is an unordered collection of key - value pairs enclosed with {}. Dictionary is mutable.

In [62]:
d1 = {'Apple':100,'Mango':60,'banana':40}             # Here, Key- Fruit name
                                                      # Value - Cost of fruit
    
d1

{'Apple': 100, 'Mango': 60, 'banana': 40}

In [63]:
type(d1)

dict

In [64]:
d1.keys()                                             # to extract keys in dictionary

dict_keys(['Apple', 'Mango', 'banana'])

In [66]:
d1.values()                                            # to extract values in dictionay

dict_values([100, 60, 40])

Modifying element in a Dictionary

In [80]:
d2 = {'straberry':150,'Papaya':60,'banana':40}
d2

{'straberry': 150, 'Papaya': 60, 'banana': 40}

In [81]:
d2['Mango']= 80                                # Adding new element (Mango)
d2

{'straberry': 150, 'Papaya': 60, 'banana': 40, 'Mango': 80}

In [82]:
d2['Papaya'] = 50                                # changing existing element (cost of Papaya)
d2

{'straberry': 150, 'Papaya': 50, 'banana': 40, 'Mango': 80}

In [85]:
fruit1 = {'orange':10,'Banana':40}
fruit2 = {'Papaya':60,'mango':80}
fruit1.update(fruit2)                           # update one dictionary's element with another
fruit1

{'orange': 10, 'Banana': 40, 'Papaya': 60, 'mango': 80}

In [91]:
d3 =  {'orange':10,'Banana':40,'mango':80}
d3

{'orange': 10, 'Banana': 40, 'mango': 80}

In [92]:
d3.pop('Banana')                            # Poping an element (Removing element)
d3

{'orange': 10, 'mango': 80}

In [3]:
d =  {'orange':10,'Banana':40,'mango':80}
d

{'orange': 10, 'Banana': 40, 'mango': 80}

In [6]:
del d["Banana"]
d

KeyError: 'Banana'

In [3]:
d3 =  {'orange':10,'Banana':40,'mango':80}

In [4]:
d3['orange']

10

# Set in Python

Set is an unordered and unindexed collection of elements enclosed with {}. Duplicates are not allowed in set. It is also mutable.

In [3]:
s1 = {1,4,2.3,"patna"}
s1

{1, 2.3, 4, 'patna'}

In [4]:
s1 = {1,4,2.3,'Patna',2.3,'Patna'}    # Duplicates values not stored.
s1

{1, 2.3, 4, 'Patna'}

In [112]:
s2 = {1,'a',True,5.34,'b',False}         # Elements in set have not specified index.
s2

{1, 5.34, False, 'a', 'b'}

In [113]:
s2.add('hello')                       # Add an element in set.This element stored in unordered way.
s2

{1, 5.34, False, 'a', 'b', 'hello'}

In [114]:
s2.update({10,20,30})                 # Adding multiple elements 
s2

{1, 10, 20, 30, 5.34, False, 'a', 'b', 'hello'}

In [115]:
s2.remove('b')                       # Removing an element
s2

{1, 10, 20, 30, 5.34, False, 'a', 'hello'}

In [121]:
s1 = {10,20,30}                              # Union of two sets
s2 = {'a','b','c'}
s1.union(s2)

{10, 20, 30, 'a', 'b', 'c'}

In [123]:
s3 = {1,2,3,4,5,6}                          # Intersection of two sets
s4 = {4,5,7,9}
s3.intersection(s4)

{4, 5}